* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(235, 235, 235);
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    border:1px solid black;
    padding:  5px 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}

nav ul li a:active, nav ul li a , nav ul li a:hover  {
    color: black;
    text-decoration: none;
    background-color: aliceblue;
}


/* BLOC FONCTION AFFICHAGE */
h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    margin: 20px;

}
th,td {
    border: 1px solid black; 
    padding: 1rem 10px;
    text-align: center;
    background-color: aliceblue;
}

th {
    width: 250px;
}

table {
    border-collapse: collapse;
    /* margin: auto; */
    justify-content: center;
}

.aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* image */

img {
    margin: 50px;
}

/* DESCRIPTION FILM */
.affiche {
    width:300px;
}

span .synopsis {
    width: 150px;
}

figcaption {
    text-align: center;
}

.castingList {
    background-color: aliceblue;
}

.castingList li {
    text-decoration: none;
    background-color: aliceblue;
    list-style-type: none;
    text-align: justify;
    align-items: center;
}